<html>
    <head>
        <style>
        </style>
    </head>
    <body style='max-width: 500px;'>
        <div style='background: #805ad5; padding: 1rem;'>
            <a
                style='color: #ecc94b; border-radius: 6px; text-decoration: none; font-weight: bold;'
                href='https://post-app-mu.vercel.app'
            ><h1 style='display: inline;'>Posty</h1></a>
        </div>
        <p style='font-size: large; font-weight: bolder; color: #805ad5;'>Hi
            {{name}},</p>
        <p style='font-size: medium;'>Welcome to your new account 🎉</p>
    </body>
</html>
